<launch>
  <!-- <node pkg="rosbag" type="record" name="bag_recorder_all" output="screen" args="-a -O /home/tjurm/Documents/rosbag/all_1.bag" /> -->

  <!-- <node pkg="rosbag" type="record" name="bag_recorder_livox" output="screen" args="-O /home/tjurm/Documents/rosbag/livox.bag
   /livox/lidar /livox/imu">
  </node> -->

  <node pkg="rosbag" type="record" name="bag_recorder_refree" output="screen" args="-O /home/tjurm/Documents/rosbag/refree.bag
   /refree">
  </node>

  <node pkg="rosbag" type="record" name="bag_recorder_goal" output="screen" args="-O /home/tjurm/Documents/rosbag/move_base_goal.bag
   /move_base_simple/goal">
  </node>

  <!-- <node pkg="rosbag" type="record" name="bag_recorder_feedback" output="screen" args="-O /home/tjurm/Documents/rosbag/move_base_feedback.bag
   /move_base/feedback">
  </node>

  <node pkg="rosbag" type="record" name="bag_recorder_status" output="screen" args="-O /home/tjurm/Documents/rosbag/move_base_status.bag
   /move_base/status">
  </node>

  <node pkg="rosbag" type="record" name="bag_recorder_result" output="screen" args="-O /home/tjurm/Documents/rosbag/move_base_result.bag
   /move_base/result">
  </node> -->
</launch>