<launch>
  <!-- <node pkg="rosbag" type="record" name="bag_recorder_all" output="screen" args="-a -O /home/tjurm/Documents/rosbag/all_2.bag" /> -->

  <node pkg="rosbag" type="record" name="bag_recorder_refree_2" output="screen" args="-O /home/tjurm/Documents/rosbag/refree_2.bag
   /refree">
  </node>

  <node pkg="rosbag" type="record" name="bag_recorder_goal_2" output="screen" args="-O /home/tjurm/Documents/rosbag/move_base_goal_2.bag
   /move_base_simple/goal">
  </node>
</launch>